{{>navbar}}
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://www.gstatic.com/webp/gallery/1.jpg" alt="" class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://www.gstatic.com/webp/gallery/1.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://www.gstatic.com/webp/gallery/4.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="" class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://www.gstatic.com/webp/gallery/1.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="https://www.gstatic.com/webp/gallery/4.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Heading</h5>
            <p class="card-text">
              Sample text comes here Lorem Ipsum
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>