{{>navbar}}
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/steak.jpg" alt="" class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Garlic Butter Grilled Steak</h5>
            <p class="card-text">
              This quick-and-easy skillet entree is definitely restaurant-quality!
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/calum-lewis-rPkgYDh2bmo-unsplash.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Bruschetta with Tomato and Basil </h5>
            <p class="card-text">
              In a large bowl, toss together tomatoes, basil, vinegar, salt, and red pepper flakes.
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/eiliv-sonas-aceron-R1_0gSXks5Y-unsplash.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Bacon-Garlic Chicken</h5>
            <p class="card-text">
              Pound chicken with a meat mallet to 1/2-in. thickness; sprinkle with salt and pepper
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/louis-hansel-shotsoflouis-P7ygFCLWUGA-unsplash (1).jpg" alt="" class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Zesty Lime Shrimp with Avacado</h5>
            <p class="card-text">
              Lime juice and cilantro are the key ingredients to creating this wonderful, healthy meal.
            </p>
            <a href="" class="btn btn-primary get-recipe get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/sarah-shaffer-OY4BbUuNIeg-unsplash.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Garlic and Spinach Pizza</h5>
            <p class="card-text">
             When it comes to pizza, the simpler the better. Keep it simple!
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-con">
            <img src="/images/fav_images/spaghetti.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Spaghetti and Meatballs</h5>
            <p class="card-text">
              Making your sauce is always better—it's cheaper and so much more flavorful. 
            </p>
            <a href="" class="btn btn-primary get-recipe">Get recipe</a>
            <a href=""><i class="fa fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>