{{>navbar}}
<div class="content">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="userInfo">
        <h1>User Profile</h1>
        <h3>Member Name: <div id="memberName" class="userInfo"></div></h3>
        <h3>Member Id:<div id="memberId" class="userInfo"></div></h3>
        </div>
      </div>
    </div>
  </div>   