{{>navbar}}

<div class="container-fluid">
    <div class="row no-gutters mt-3 align-items-center">
        <div class="col col-md-12">
            <input class="form-control border-secondary rounded-pill pr-5" type="search" placeholder="Search for a recipe" id="recipeSearch">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" id="searchButton" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row no-gutters mt-3 align-items-center">
      <div class="col col-md-2">
        <ul>
          {{#each recipes }}
          <img src={{this.imageUrl}}>
          <li>YES !!! {{this.title}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
</div>

<div class="container-fluid2">
    <img src="./images/image1.jpg" alt="popular" class="responsive">
    <div class="button-list">
        <button type="button" class="btn btn-outline-primary suggestedSearch">Peanut Butter</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Meatloaf</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Lasagna</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Classic Chili</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Maple Salmon</button>
    </div>
    <div style="display: none" id="results" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only"></span> <span class="msg"></span>
    </div>
    <img src="./images/image2.jpg" alt="asian" class="responsive">
    <div class="button-list">
        <button type="button" class="btn btn-outline-primary suggestedSearch">Pad Thai</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Dan Dan Noodles</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Korean Fried Chicken</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Sweet & Sour Chicken</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Wonton Soup</button>
    </div>
    <img src="./images/image3.jpg" alt="asian" class="responsive">
    <div class="button-list">
        <button type="button" class="btn btn-outline-primary suggestedSearch">Chicken Fajitas</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Fish Tacos</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Guacamole</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Tortilla Soup</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Mexican Bean Salad</button>
    </div>
    <img src="./images/image4.jpg" alt="asian" class="responsive">
    <div class="button-list">
        <button type="button" class="btn btn-outline-primary suggestedSearch">Chicken Fajitas</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Fish Tacos</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Guacamole</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Tortilla Soup</button>
        <button type="button" class="btn btn-outline-primary suggestedSearch">Mexican Bean Salad</button>
    </div>
</div>
>>>>>>> origin
